body {font-family: Arial, Helvetica, sans-serif; margin: 0; background-color:#fffccf;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#body{ min-height: 83%; }
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover { opacity: 0.8; }
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.container {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  padding: 16px;
  width: 37%;
  border: 3px solid #f1f1f1;
}
.footer {
   height:50px;
   background:#F0F0F0;
   border:1px solid #CCC;
   width:960px;
   margin:0px auto;
   margin-bottom: 15px;
}
span.psw { float: right; padding-top: 16px; }
@media screen and (max-width: 300px) {
    span.psw { display: block; float: none; }
    .cancelbtn { width: 100%; }
}
